  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Cascadia Code', monospace;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer y Edge */
  
    }

    body, html {
      height: 100vh;
      max-width: 100vw;
      overflow: hidden;
      background: #f0f0f0;
      transition: background-color 0.5s ease;
    }

#preloader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
  background-color: #9AC17F;
  animation: fadeOutLogo 1s 3s forwards;
}


#preloader-content {
  display: flex;
  align-items: center;
  gap: 50px; 
  opacity: 0;
  z-index: 2;
  animation: fadeInLogo 0.5s 1s forwards, fadeOutLogo 1s 3s forwards;
}

#preloader-logo {
  width: 17rem; 
}


@keyframes fadeInLogo {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOutLogo {
  from { opacity: 1; }
  to { opacity: 0; 
  display: none;
width: 0px;}
}

#preloader.hide {
  width: 0px;
  display: none;
}

    
    .container {
      display: flex;
      height: 100vh;
    }

    .sidebar {

      height: 100vh;
      border-right: 1px solid black;
      position: relative;
    }

    .logo {
      width: 50px;
      height: 60px;
      background: url('/assets/fibra-optima.svg') no-repeat center center;
      background-size: contain;
      cursor: pointer;
    }

  #mobile-menu, .mobile-header{
    display: none;
  }
  
    .menu {
          width: 60px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      padding-bottom: 20px;
      gap: 20px; 
      font-size: 0.8em;
    }

    .menu-item {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      cursor: pointer;
    }

    .content {
      display: flex;
      flex: 1;

      display: flex;
      flex-direction: row;
    }

    .section {

      pointer-events: auto;
      display: flex;
      flex: 1;
      overflow-y: auto;

      padding: 10px;
      height: 100vh;
      transition: flex 1s ease, opacity 0.4s ease;

      flex-direction: column;
      opacity: 1; /* estado visible */

    }

    .section-header {
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid #000;
      background-color: white;
      border-radius: 15px;
      position: sticky;
      top: 0;
      z-index: 1;
      padding-left: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      /*  OPCION 1 like y loki
      font-family: 'Special Elite', cursive;
      font-size: 16px;*/

          /* opcion 2*/
      font-family: "Geist", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-size: 1rem;
    
      transition: all 0.5s ease;
    }
    
    .section-header.hidden {
      background-color: transparent;
      border-radius: 0;
      border-bottom: none;  /* Eliminamos la línea inferior */
      color: transparent;   /* Hacemos el texto invisible */
    }
    
    .section-content {
      padding: 10px;
    }
    
    
    .section img {
      transition: opacity 0.5s ease;
    }


    .section:last-child {
      border-right: none;
    }


    
 
#section-b {
  flex: none;
  width: 30vw;
  min-width: 30vw;
}


  .cards-recomendaciones-content.open {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem; /* Espacio para el scroll */
    gap: 17px;
  }

  .card-recomendaciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 1rem;
    margin: 7px;
  }

  .card-recomendaciones-text {
    flex: 1;
    padding-right: 1rem;
  }
  
  .card-recomendaciones-text h3 {
    font-weight: bold;
    margin: 0 0 0.5rem 0;
    font-size: 0.7rem;
    
    text-transform: uppercase;
  }
  
  .card-recomendaciones-text h4 {
    font-weight: bold;
    margin: 0 0 0.4rem 0;
    font-size: 0.6rem;
    
    text-transform: uppercase;
  }
  
  .card-recomendaciones-text p,
  .card-blockg p {
    margin: 0;
    max-width: 100%;
    font-size: 0.8rem;
    text-align: justify;
  }

  .card-blockg h5{
    padding-top: 15px;
    font-size: 0.7em;
    color: #333;
    font-weight: 500;
    font-style: italic;
  }
  
  .card-recomendaciones-img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-size: cover;
  }


  .card-blockg{
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 1rem;
    margin: 7px;  
  }

  
  .card-ezpezial{
    border-bottom: 1px solid #000;
    padding: 0 1rem 11rem 0;
    margin: 7px; 
    height: 67vh;
    overflow-y: hidden;
    transition: height 0.5s ease, padding 0.3s ease;
    cursor: pointer;
  }

      /* Cuando está expandido */ 
    .card-ezpezial.expanded {
      height:90vh; 
      overflow-y: scroll;
    }

  .card-ezpezial h1{
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
  }

  .card-ezpezial p,h2{
      text-align: justify;
      font-size: 0.8rem;
      padding-left:10px;
      padding-right: 10px;
      padding-top:10px;
      text-indent: 2em;
      margin-top: 1rem;
      line-height: 1.6;
    }
    .card-ezpezial h2{
      text-decoration: underline;
    }
    
    .card-ezpezial img{
      width: -webkit-fill-available;
      height: auto;
    }
  
    #section-articulos h1{
      font-size: 1rem;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      text-transform: uppercase;
    }

    #section-articulos p,h2{
      text-align: justify;
      font-size: 0.8rem;
      padding-left:10px;
      padding-right: 10px;
      padding-top:10px;
      text-indent: 2em;
      margin-top: 1rem;
      line-height: 1.6;
    }

    #section-articulos h2{
      text-decoration: underline;
    }

    #section-articulos img{
      width: 550px;
      padding:50px;
      height: auto;
    }

    #section-articulos{
      /*para que la imagen quede centrada*/
      text-align: center;
    
    }

    
   
    

/*
.search-container {
  padding: 20px;
  text-align: center;
}

#search-input {
  width: 300px;
  max-width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

*/
.tags{
  height: 150px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: fixed;
  bottom: 0;
  border-top: 1px solid #000;
  background-color: #f0f0f0;
  left: 61px;
  padding: 2rem;
  
  transform: translateY(100%);
  transition: transform 1s ease;

  z-index: 1000;
  align-items: center;
  align-content: stretch;
  justify-content: space-around;
  justify-items: center;
}

/* Cuando está visible */
.tags.visible {
  transform: translateY(0);
}
.tag {
  padding: 6px 12px;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
    font-weight: 500;
  transition: all 0.1s ease;
  font-size: small;
  text-transform:lowercase;
  cursor: pointer;
}

.tag.active {
  background-color: #9AC17F;

}


.xqsomos {
  position: absolute;
  top: -1px;
  left: 59px;
  width: 500px;
  height: 100vh;
  padding: 1rem;
  border: 1px solid #000;
  background-color: #f0f0f0;
  box-sizing: border-box;
  opacity:0;
  z-index: 1000;
  font-family: 'Cascadia Code', monospace;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

#menu-xqsomos:hover + #xqsomos,
#xqsomos:hover {
  opacity: 1;
}
.xqsomos[style*="opacity: 1"] {
  pointer-events: auto;
}


a{
  color: #000;
  text-decoration: none;
}
.sets {
  position: absolute;
  top: -1px;
  left: 59px;
  width: 500px;
  height: 100vh;
  /* padding: 35vh 1rem 1rem 1rem; */
  padding: 0.5rem;
  border: 1px solid #000;
  background-color: #f0f0f0;
  box-sizing: border-box;
  opacity:0;
  z-index: 1000;
  font-family: 'Cascadia Code', monospace;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

#menu-sets:hover + #sets,
#sets:hover {
  opacity: 1;
}
.sets[style*="opacity: 1"] {
  pointer-events: auto;
}

audio{
  width: 450px;
}

/* EZPEZIALEZ.HTML */
  #section-search {
    width: 300px;
    border-left: 1px solid #000;
    padding: 1em;
    overflow-y: auto;
  }
  #section-articulos {
     width: calc(100vw - 361px);
    flex-grow: 1;
    padding: 1em 2em;
    overflow-y: auto;
  }

  .card-articulo{
    height: auto;
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    border-bottom: 1px solid #000;
  }

  .card-articuloh2 {
    margin-top: 0;
  }
  .card-articulo h3 {
    margin-top: 0;
    border-bottom: 1px solid #ccc;
  }
  .card-articulo ul {
    list-style: none;
    padding-left: 0;
  }
  .card-articulo li {
    margin-bottom: 0.6em;
  }
  .card-articulo a {
    color: #0066cc;
    text-decoration: none;
  }
  .card-articulo a:hover {
    text-decoration: underline;
  }
  
  .archive-header{

      height: 30px;
      line-height: 30px;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid #000;
      background-color: white;
      border-radius: 15px;
      z-index: 1;
      padding-left: 10px;
      display: flex;
      align-items: center;
      margin:90px 0px 25px 0px;
      /*  OPCION 1 like y loki
      font-family: 'Special Elite', cursive;
      font-size: 16px;*/
      /* opcion 2*/
      font-family: "Geist", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-size: 1rem;
    
      transition: all 0.5s ease;
    
  }

  .card-articulo{
    height: auto;
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    border-bottom: 1px solid #000;

  }

  input{
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid #000;
    background-color: white;
    border-radius: 15px;
    z-index: 1;
    padding: 13px;
    display: flex;
    align-items: center;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
    width: 275px;
  }
  
@media (max-width: 768px) {

  body {
    overflow-y: auto; 
    max-height: 100%; 
    overflow-x: hidden;
  }

  /* MOBILE MENU */

  .mobile-header {
   display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 150px;
        padding: 5px 10px 3px 3px;
        background: white;
        position: fixed;
        width: 100vw;
        top: -90px;
        left: 0;
        z-index: 1000;
        position: fixed;
  }

  .mobile-logo img {
    height: 50px;
  }

  .hamburger {
    cursor: pointer;
    padding-bottom: 11px;
  }

  #mobile-menu {  
    display: flex;
  }

  .mobile-menu {
    max-width: 100vw;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    gap: 17px;
    transition: height 0.8s ease;
    z-index: 999;
  }

  .mobile-menu.open {
    height: 101vh;
    top: -1px;
    /* height: -webkit-fill-available; */
  }

  .mobile-menu a {
    color: black;
    text-decoration: none;
    margin: 0.1rem 0;
    letter-spacing: 0.02em;
  }

  .sidebar {
    display: none;
  }

  /* SECCIONES */

  .content {
    flex-direction: column;
    padding-top: 70px;
    display: flex;
    flex-direction: column-reverse; 
    height: calc(100% - 10px);
    justify-content: flex-end;
    overflow-y: scroll;

  }


  .section {
    display: flex;
    flex: 1;
    padding: 10px;
    max-width: 100vw;
    transition: flex 1s ease, opacity 0.4s ease;
    opacity: 1; 
    align-content: space-around; 
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    border-right: 0px;
    transition: height 0.4s ease;
    /* height: var(--section-collapsed-height, 50px);   */
    height: 50px;
    max-height: 50px;
  }

  

  .section.active {
    /* height: calc(100vh - 2 * var(--section-collapsed-height, 60px)); */
    overflow-y: scroll;
    height: calc(100vh - 10px);
    max-height: calc(100vh - 10px);
  
  }


  .section-header{
    width: 90vw;
    height: var(--section-collapsed-height, 30px);
    display: flex;
    align-items: center;
    cursor: pointer;
    max-height: 50px;
  }



  .cards-recomendaciones-content{
    display: flex;
    flex-direction: column;
    overflow-y: scroll; 
    padding-bottom: 1rem; 
    gap: 17px;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    
  }

  .cards-recomendaciones-content.active {
    display: flex;
    flex-direction: row;
    overflow-y: scroll; 
    padding-bottom: 1rem; 
    gap: 17px;
  }

  
  #section-b {
    flex: 1;
    width: auto;
  }

  #section-b .blockg-content {
    flex-direction: row;
  }


  
    /* EZPEZIALEZ */
  #section-ezpezialez{   
    display: none;
    }


  /* RECOMENDACIONES */
  #section-a .cards-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    /* scroll-snap-type: x mandatory;
    scroll-behavior: smooth; */
  }

  #section-a .card {
    flex: 1 1 calc(33.33% - 2rem);
    flex-wrap: wrap;
    border-bottom: 0px;
    border-right: 1px solid black;
  }
  
  #section-a .card-img {
    width: 100px;
    height: 100px;
  }

  #section-a .card-text {
    padding: 1rem;
    text-align: justify;
  }  
/*   
.tags-mobile {
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 25px;
    }

    
.tag.active {
  background-color: #9AC17F;

} */



  /* WEB XQSOMOS (SOLO EL MOBILE)*/

  .xqsomos-mobile{
        text-align: justify;
        padding: 100px 20px 100px 20px;
    
  }




  /* WEB EZPEZIIALEZ */

  .container{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: flex-start;
  }
   #section-search {
        height: 60px;
        width: 100vw;
        position: fixed;
        top: 60px;
        border-left: 0px;
        background: #f0f0f0;
  } 
#section-articulos {
        width: 100vw;
        padding: 130px 20px 50px 20px;
        overflow-y: auto;
}

#section-articulos img {
    width: -webkit-fill-available;
    padding: 0;
    height: auto;
}

input {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid #000;
    background-color: white;
    border-radius: 15px;
    z-index: 1;
    padding: 2vw;
    display: flex;
    align-items: center;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
    width: 90vw;
}
 

}


